
@media only screen and (min-width: 600px) {
    /* ====================  IN PROGRESS ============================= */
    .overlay {
        background: rgb(89 85 85);
        transition: .5s ease;
        opacity: 2;
        font-size: 20px;
        text-align: center;
        width: inherit;
        vertical-align: middle;
    }
      
      /* When you mouse over the container, fade in the overlay title */
    #resume-img:hover .overlay {
        opacity: 1;
    }
    
    
    #youtube{
        margin:0;
        margin: 0;
        width:inherit;
        outline: inset;
        outline-color: aquamarine;
    }
    
    #first-row{
        background: transparent;
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }

    #Acclivity-a{
       width:inherit; 
    }
    #Acclivity-img{
        width:inherit;
        vertical-align: middle;
        outline: inset;
        outline-color: aquamarine;
    }
    
    #shoppies-img{
        width:inherit;
        vertical-align: middle;
        outline: inset;
        outline-color: aquamarine;
    }
    
    #shoppies-a{
        width:inherit;
    }
    
    
    #resume-a{
        width: inherit;
    }
    
    
    #resume-img{
        filter: brightness(.9) blur(1px);
        width: inherit;
        vertical-align: middle;
    }
    
    /* ====================  GLOBAL ============================= */
    body, html{
        overflow-x: hidden;
        overflow-y: hidden;
        color:#ebe2e2;
        height:100%;
        /* background: #1d1d1d; */
        background: linear-gradient(-45deg, #380f02, #0c0a0b, #101b1f, #01141f);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
      @keyframes gradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }
    /* #8a8a8a */
    
    h1{
        width: 55rem;
        font-size: 8rem;
        font-weight: 500;
        transition: all 0.3s ease-out;
    }
    
    h2{
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: normal;
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 3px;
        -webkit-animation: myanim2 1s 1.8s backwards;
        animation: myanim2 1s 1.8s backwards;
    }
    
    /* ====================  GRID: ROW & COL ============================= */
    .main {
        margin-left: 6rem;
        padding: 1rem;
        margin-right:-2rem;
        overflow-x: hidden; /* Disable horizontal scroll */
    }
    
    .row{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: 6rem;
    }
    
    #nav-col{
        border: 1px solid azure;
        background:transparent;
    }
    
    
    #img-col{
        width:50%;
        margin-top: 30%;
        z-index: 1;
    
    }
    
    
    #title-col{
        font-family: "Dosis", Helvetica, Arial, sans-serif;
        padding-left: 5rem;
        padding-top: 17%;
        text-align: left;
        /* transform: translate(0, 30%); */
        color:linear-gradient(#c6eaea, #dcdae2);
    }
    
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }  
    
    /* ====================  HOME  ============================= */
    
    /* #circle {
        margin-top: -20rem;
        margin-bottom: 0;
        margin-left: 10%;
        width: 50rem;
        height: 50rem;
        background: #333533;
        border-radius: 50%;
    } */
    
    
    .hero-text {
        font-family: "Dosis", Helvetica, Arial, sans-serif;
        transform: translate(-100%, 50%);
        color:linear-gradient(#c6eaea, #dcdae2);
    }
    
    
    .flattbutton{
        min-width: max-content;
        color: pink;
        font-size: 13px;
        letter-spacing: 4px;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid pink;
        margin-top: 25px;
        float: left;
        -webkit-animation: myanim2 1s 1.8s backwards;
        animation: myanim2 1s 1.8s backwards;
    }
    
    /* ====================   SIDENAV  ============================= */

.sidenav {
  overflow: hidden;
  background-color:transparent;
  position: relative;
}

.sidenav #myLinks {
  display: none;
}

.sidenav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav a.icon {
  float: right;
}

.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

      /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color:  #ddd;
        /* color: #f1f1f1; */
    }
      /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }


    #contact-me{
        display:flex;
    }

    #contact-me a{
        font-size: 2.5rem;
        color:#9e8fa5;
    }

    .fa {
        display: none;
        color: transparent;
    }
      /* ================================ ANCHORS ================== */
    
    #project-anchor{
        padding: 2rem;
        margin-left: 6rem;
        margin-right: -5rem;
    
    }
    
    #stack-anchor{
        padding: 2rem;
        margin-left: 6rem;
        margin-right: -5rem;
    }
    
    #about-anchor{
        padding: 2rem;
        margin-left: 6rem;
        margin-right: -5rem;
    }
    
    
    #contact-anchor{
        padding: 2rem;
        margin-left: 6rem;
        margin-right: -5rem;
    }
    
    #a-homenav{
        margin-top: .5rem;
        width: 5rem;
        margin-left: -1rem;
    }
    
    #me{
        width: inherit;
        border: 3px solid aquamarine;
    }
    
    .project-link-container{
        display:flex
    }
    .project-link-container a{
        font-size: 2rem;
        color: #9e8fa5;
        padding-right: 1.5rem;
    }
    
    }
    