@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@media only screen and (max-width: 599px) {


    /* ================================ INDEX.HTML =============================== */

    .navbar{
        position:fixed;
        width:inherit
    }
    .navbar-toggler{
        width: 10%;
        margin-left: 80%;
    }

    .hero {
        height: 100vh;
    }


    .container{
        height: 100vh;
    }


    .hero-heading{
        text-align:center;
        width: 50%;
        margin: auto;
        margin-top:40%
    }


    h1 {
        font-size: 7rem;
        font-weight: 400;
        transition: all 0.3s ease-out;
    }


    h2 {
        text-align:center;
        color: #8d8d8d;
        margin:auto;
        margin-top: 1rem;
        margin-bottom:1rem;
        font-weight: normal;
        font-size: 1.5rem;
        width: max-content;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 3px;
        -webkit-animation: myanim2 1s 1.8s backwards;
        animation: myanim2 1s 1.8s backwards;
    }

    .social{
        text-align:center;
    }

    .social a{
        color: #9a6e8d;
        font-size: 1.5rem;
        margin: 1rem;
        text-decoration: none;
    }

   
}
