/* ====================  IN PROGRESS ============================= */

#youtube{
    margin:0;
}

img{
    width: 90%;
    min-width: 60rem;
    vertical-align: middle;
}


/* ====================  GLOBAL ============================= */
body, html{
    overflow-x: hidden;
    overflow-y: auto;
    color:white;
    height: 100%;
    background: #1d1d1d;
}


h1{
    font-size: 5rem;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}

/* ====================  GRID: ROW & COL ============================= */
.main {
    margin-left: 0rem;
    padding: 0rem 1rem;
    margin-right:-2rem;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.row{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#nav-col{
    border: 1px solid azure;
    background:transparent;
}


#img-col{
    width:50%;
    margin-top: 30%;
    z-index: 1;

}


#title-col{
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    transform: translate(-100%, 50%);
    color:linear-gradient(#c6eaea, #dcdae2);
}


/* ====================  HOME  ============================= */
#outline{
    width: -webkit-fill-available;
    height: 75%;
    outline: 2rem solid darkgrey;
    margin-top: 10%;
    margin-left: -15rem;
    display:flex;
    flex-wrap:wrap;
}

#circle {
    margin-top: -20rem;
    margin-bottom: 0;
    margin-left: 10%;
    width: 50rem;
    height: 50rem;
    background: #333533;
    border-radius: 50%;
}


/* .hero-text {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    transform: translate(-100%, 50%);
    color:linear-gradient(#c6eaea, #dcdae2);
} */


.flattbutton{
    color: pink;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid pink;
    margin-top: 25px;
    float: left;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}

/* ====================   SIDENAV  ============================= */
/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 6rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2rem;
}

.nav{
    margin-top: 24rem;
}

  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

  /* ================================ ANCHORS ================== */

#project-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}

#stack-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}

#about-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}


#contact-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}