/* ====================  IN PROGRESS ============================= */

#youtube{
    margin:0;
    margin: 0;
    width:inherit;
    outline: inset;
    outline-color: aquamarine;
}

/* [class*="col-"] {
    float: left;
    border: 1px solid red;
} */

#first-row{
    background-image: url(neon-leaf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#shoppies-img{
    width:inherit;
    vertical-align: middle;
    outline: inset;
    outline-color: aquamarine;
}

#shoppies-a{
    width:inherit;
}


#resume-a{
    width: inherit;
}


#resume-img{
    width: inherit;
    vertical-align: middle;
}

/* ====================  GLOBAL ============================= */
body, html{
    overflow-x: hidden;
    overflow-y: scroll;
    color:#cacaca;
    height:100%;
    /* background: #1d1d1d; */
    background-color: black;
}
/* #8a8a8a */

h1{
    width: 55rem;
    font-size: 8rem;
    font-weight: 500;
    transition: all 0.3s ease-out;
}

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}

/* ====================  GRID: ROW & COL ============================= */
.main {
    margin-left: 6rem;
    padding: 1rem;
    margin-right:-2rem;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.row{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 6rem;
}

#nav-col{
    border: 1px solid azure;
    background:transparent;
}


#img-col{
    width:50%;
    margin-top: 30%;
    z-index: 1;

}


#title-col{
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    padding-left: 5rem;
    padding-top: 17%;
    text-align: left;
    /* transform: translate(0, 30%); */
    color:linear-gradient(#c6eaea, #dcdae2);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}  

/* ====================  HOME  ============================= */

/* #circle {
    margin-top: -20rem;
    margin-bottom: 0;
    margin-left: 10%;
    width: 50rem;
    height: 50rem;
    background: #333533;
    border-radius: 50%;
} */


.hero-text {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    transform: translate(-100%, 50%);
    color:linear-gradient(#c6eaea, #dcdae2);
}


.flattbutton{
    color: pink;
    font-size: 13px;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid pink;
    margin-top: 25px;
    float: left;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}

/* ====================   SIDENAV  ============================= */
/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 6rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #ffc0cb1c;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20%;
}

  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2.5rem;
    color: #cacaca59;
    display: block;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

  /* ================================ ANCHORS ================== */

#project-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;

}

#stack-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}

#about-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}


#contact-anchor{
    padding: 2rem;
    margin-left: 6rem;
    margin-right: -5rem;
}